<div class="room-card <%= 'cannot-delete' if room.residents.length > 0 %>">
  <div class="info-area">
    <h3 class="name"><%= link_to room.name, room %></h3>
  </div>
  <%= image_tag "room_#{(index % 2) + 1}.jpg", class: "image" %>
  <%= link_to 'Edit', edit_room_path(room), class: "edit" %>
  <% if room.residents.length == 0 %>
    <%= link_to 'Delete', room, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete" %>
  <% end %>
</div>