<% provide(:title, "#{@room.name} | Rooms") %>
<div class="room">
  <%= render 'room_card', room: @room, index: 0 %>

  <h2>Current residents</h2>
  <% @room.residents.each do |resident| %>
    <tr>
      <td><%= resident.id %></td>
      <td><%= resident.name %></td>
      <td><%= resident.dob %></td>
      <td><%= link_to 'Show', resident %></td>
    </tr>
  <% end %>
</div>
